body {
    height:1200px;
    background-image: url("assets/images/Background.jpg");
}

.cont-about-me, .cont-projects, .cont-contact-me {
    border: 15px solid green;
    background-color: teal;
    color: white;

}

.link-logo {
    width: 100px;
    height: 30px;
} 

.headshot {
    height:100%;
    width:50%;
    justify-content: center;
}

.navbar-nav{
    justify-content:flex-end;
    
}

.container-header {
    text-align: center;
}

h1 a {
    font-size: x-small;
} 

.logo {
    justify-content: center;
}


#wedding-photo {
    width: 100%
}

#pets-photo {
    width: 100%;
    
}

